body {
    font-family: Helvetica,sans-serif;
    width:960px;
    margin: auto;
}
textarea {
    width: 600px;
    height: 100px;
}
label {
    font-size: 13px;
    font-weight: bold;
}
textarea, input {
    padding: 2px 5px;
}
.yui3-tab-panel > div {
    padding: 10px;
}
.yui3-skin-sam .yui3-tabview-panel {
    background: #fff;
    border-color: #808080;
}
.yui3-skin-sam .yui3-tabview-list {
    border-bottom-width: 0px;
}
.yui3-skin-sam .yui3-tab-label,
.yui3-skin-sam .yui3-tab-label:focus,
.yui3-skin-sam .yui3-tab-label:hover {
    background: #ddd;
    margin-left: 10px;
}
.yui3-skin-sam .yui3-tab-selected .yui3-tab-label,
.yui3-skin-sam .yui3-tab-selected .yui3-tab-label:focus,
.yui3-skin-sam .yui3-tab-selected .yui3-tab-label:hover {
    background: #fff;
    color: #000;
    font-weight: bold;
}
.yui3-skin-sam .yui3-tab-selected,
.yui3-skin-sam .yui3-tab-selected {
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}
.yui3-skin-sam .yui3-tab  {
    border-bottom: 0;
    border-color: #808080;
}
.chart {
    height: 500px;
    position: relative;
}
#TransactionsG {
    height: auto;
}
#Controls {
    margin: 1em 0;
}
#Controls li {
    float: left;
    list-style: none;
}
#Controls:after {
    clear:both;
    content: '.';
    display:block;
    height:0;
    visibility: hidden;
}
.transactionTooltip {
    background-color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
}
.transactionTooltip > ul {
    margin: 0;
    padding: 0;
}
.transactionTooltip li {
    font-family: sans-serif;
    list-style: none;
}
#Controls button {
    background: transparent;
    border: #ccc;
    color: #000;
    cursor:pointer;
    line-height:20px;
    text-shadow: 1px 1px 2px #ccc;
}
#Controls button > span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    height: 10px;
    line-height: 11px;
    margin-right: 5px;
    width: 10px;
    box-shadow: 1px 1px 2px #ccc;
}
#Controls button:first-letter {
    text-transform: uppercase;
}
#Controls button.hidden {
    color: #999;
}
.loader {
    background: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}
#Tabs {
    margin-bottom: 1em;
}
#Charts,
#Main {
    display: none;
}
.error {
    color: #B94A48;
    border: 1px solid #B94A48;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
.error > p {
    padding: 0 10px;
}
.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
    text-decoration: none;
}
.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
/* must do positioning, because for the button isn't clickable, because the h1 is above of it for some reason, if I only float it and move top -40px; */
#Charts {
    position: relative;
}
.reset {
    right: 0;
    top: -40px;
    position: absolute;
    z-index:1;
}
/*
.reset {
    float: right;
    margin-top: -40px;
}
*/
