<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <title>Financisto charts</title>
        <script src="http://yui.yahooapis.com/3.4.1/build/yui/yui-min.js"></script>
        <script src="/a.js"></script>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssbase/cssbase-min.css">
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssgrids/grids-min.css">
        <link rel="stylesheet" type="text/css" href="/styles.css" />
    </head>
    <body class="yui3-skin-sam">
        <div id="Main">
          <h1>Financisto charts</h1>
          <h2 id="error"></h2>
          <div id="charts">
            <button type="button" class="reset button orange"><span>Reset</span></button>
              <div>
                  <h2>Total</h2>
                  <div id="totalchart" class="chart" style="height: 300px"></div>
                  <h2>All transactions</h3>
                  <div id="mychart" class="chart"></div>
                  <div id="controls"></div>
              </div>
              <div>
                  <h2>Transactions in last 31 days</h3>
                  <div id="transactions" class="chart"></div>
              </div>
          </div>
          <div id="dataForm">
              <h2>Set the data</h2>
              <form action="/data" method="PUT" id="dataPoster">
                  <div id="Tabs">
                      <ul>
                          <li><a href="#DownloadFromURL">Download backup file from remote URL</a></li>
                          <li><a href="#CopyData">Copy from uncompressed backup file</a></li>
                      </ul>
                      <div>
                          <div id="DownloadFromURL">
                              <div>
                                  <label for="UrlField">URL:</label><br />
                                  <input type="url" name="url" id="UrlField" /><br />
                              </div>
                          </div>
                          <div id="CopyData">
                              <div>
                                  <label for="DataField">Uncompressed data:</label><br />
                                  <textarea name="data" id="DataField"></textarea>
                              </div>
                          </div>
                      </div>
                  </div>
                  <button type="submit" class="button orange">Submit</button>
              </form>
          </div>
        </div>
    </body>
</html>
